body {
    margin: 0;
    background-color: #cacaca;
}
.menu-home {
    padding: 10px 70px 10px 150px;
    background:linear-gradient(rgb(146, 0, 82), #3c0022);
}
#home-icon-navbar {
    color: white;

}
#home-icon-navbar:hover {
    color: black;
}
.image-icon {
    margin-bottom: 0;
    font-size: 45px;
}
.navbar-light .navbar-nav .nav-link {
    color: #dddddd;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:#28a745;
}
#drop-down-menu-div {
    background:linear-gradient(rgb(180, 0, 101), #5c0039);
    font-size: 15px;
}
#drop-down-menu-div a {
    color: white;
}
#drop-down-menu-div a:hover {
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(165, 165, 165, 0.62));
}


.call {
    border-radius: 30px;
    margin-right: 20px;
}
#call-me-id {
    margin-right: 35px;
    margin-top: 4px;
    line-height: 15px;
}
.call-me {
    padding-left: 31px;
    color: #dddddd;
}
.phone-number {
    font-size: 14px;
    margin: 0;
    color: #7e7e7e;
}

.button-search {
    color: white;
    border-color: white;
}
.xoracum {
    cursor: pointer;
    margin-bottom: 0;
}
.xoracum li:hover {
    color: black;
}

.carousel-inner {
    height: 450px;
    background-color: #373737;
}
.carousel-item {
    max-width: 100%;
}

#image-minicub-slide {
    margin-top: 15px;
    display: flex;

}
.image-mini-slide {
    height:80px;
    border-top:3px solid black;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    max-width:130px ;
}

/*slide plugins elem*/
#image-list-slide {
    margin-top: 8px;
}
#image-list-slide a:hover {
    box-shadow: 0 0 15px #959595;
}
.elem, .elem * {
    box-sizing: border-box;
}
.elem {
    margin-left: 1%;
    display: inline-block;
    font-size: 0;
    width: 32%;
    background: #fff;
    padding: 10px;
    height: auto;
    background-clip: padding-box;
}
.elem > span {
    display: block;
    cursor: pointer;
    height: 0;
    padding-bottom:	70%;
    background-size: cover;
    background-position: center center;
}

