body {
    margin: 0;
    background-color: #464441;
}
.form {
    margin:120px auto;
    border:2px groove black;
    width: 700px;
    height: 450px;
    background-color: #ffffff;
}
.log {
    text-align: center;
    font-size: 42px;
    margin-top: 30px;
}
.Username {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: outset;
}
.Password {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: outset;

}
.namepass {
    text-align: center;
    padding-top:160px;
}
.login {
    width: 170px;
    height: 26px;
    background-color: #464441;
    color: #fffdfe;
    border-color: #7d7b76;
}
.ername {
    font-size: 12px;
    color: red;
    display: none;
}
.erpass {
    font-size: 12px;
    color: red;
    display:none;
}
.formerror {
    color: red;
    display: none;
}
.Username-error {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: outset;
    border-bottom-color: red;
    background-color: rgba(255,0,0,0.15)

}
.Password-error {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: outset;
    border-bottom-color: red;
    background-color: rgba(255,0,0,0.15)
}

.user {
    display: none;
    margin:120px auto;
    border:2px groove black;
    width: 700px;
    height: 450px;
    background-color: #ffffff;
    text-align: center;
}